<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <link rel="shortcut icon" href="../favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      background-image: url('../images/sl6.jpg');
      background-size: 100%;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="home">Hi <b><%=session.admin.username%></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="listproducts">Manage Products <span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="listproducts">List Products</a></li>
            <li><a href="addproduct">Add product</a></li>
          </ul>
        </li>
        <li><a href="listorders">Manage Orders</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- <div class="container">
  <h3>have a nice day</h3>
</div> -->

</body>

</html>