<!DOCTYPE HTML>
<html lang="en">

<head>

  <!-- Favicons -->
  <link rel="shortcut icon" href="favicon.png">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

  <title>About us</title>

  <!-- Styles -->
  <link href="css/style.css" rel="stylesheet" media="screen">
</head>

<body class="body-full-page">

  <div class="loader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <!-- Content CLick Capture-->

  <div class="click-capture"></div>

  <!-- Sidebar Menu-->

  <div class="menu">
    <span class="close-menu icon-cross2 right-boxed"></span>
    <div class="menu-lang right-boxed">
      <a href="#" class="active">Eng</a>
      <a href="#" onClick="alert('Cafe Racer bản vietsub sẽ sớm ra mắt chịu khó đợi nhé ahihi !!')">Vie</a>
    </div>
    <ul class="menu-list right-boxed">
      <li data-menuanchor="page1">
        <a href="./aboutus">ABOUT US</a>
      </li>
      <li data-menuanchor="page2">
        <a href="./home">HOME</a>
      </li>
      <li data-menuanchor="page3">
        <a href="./shop">SHOP</a>
      </li>
      <li data-menuanchor="page4">
        <a href="./mycart">CART</a>
      </li>
      <li data-menuanchor="page5">
        <a href="./contactus">CONTACT US</a>
      </li>
      <li data-menuanchor="page6">
        <a href="./admin/login" target="_blank">LOGIN</a>
      </li>
    </ul>
    <div class="menu-footer right-boxed">
      <div class="social-list">
        <a href="https://twitter.com/" target="_blank" class="icon ion-social-twitter"></a>
        <a href="https://www.facebook.com/mynameismeoww" target="_blank" class="icon ion-social-facebook"></a>
        <a href="http://gmail.com/" target="_blank" class="icon ion-social-googleplus"></a>
        <a href="https://www.instagram.com/hi991016/" target="_blank" class="ion-social-instagram-outline"></a>
      </div>
    </div>
  </div>

  <!-- Navbar -->

  <header class="navbar navbar-2 navbar-white boxed">
    <div class="navbar-bg"></div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
      aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="brand" href="./home">
      <img class="brand-img" alt="" src="images/brand.png">
      <div class="brand-info">
        <div class="brand-name">Cafe Racer</div>
        <div class="brand-text">Ride hard or Stay home</div>
      </div>
    </a>

    <div class="social-list hidden-xs">
      <a href="https://twitter.com/" target="_blank" class="icon ion-social-twitter"></a>
      <a href="https://www.facebook.com/mynameismeoww" target="_blank" class="icon ion-social-facebook"></a>
      <a href="http://gmail.com/" target="_blank" class="icon ion-social-googleplus"></a>
      <a href="https://www.instagram.com/hi991016/" target="_blank" class="ion-social-instagram-outline"></a>
    </div>

  </header>
  <div class="pagepiling">

    <!-- page 1 -->

    <div data-anchor="page1" class="pp-scrollable text-white section section-1">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/ab1.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
              <div class="vertical-title hidden-xs hidden-sm"><span>ABOUT US</span></div>
              <div class="boxed">
                <div class="container">
                  <div class="intro">
                    <div class="row">
                      <div class="col-md-8 col-lg-6">
                        <p class="subtitle-top">Welcome to <br>Cafe Racer</p>
                        <h1 class="display-2 text-white"><span class="text-primary">ĐIỂM HẸN </span><br> CỦA DÂN CHƠI XE
                          MOTO SÀI GÒN.</h1>
                        <div class="hr-bottom"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 2 -->

    <div data-anchor="page2" class="pp-scrollable text-white section section-2">
      <div class="scroll-wrap">
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">

              <p align="center" style="margin-top: 1em">
                <font size="6" face="Arial"> ABOUT US </font>
              </p>
              <hr width="20%" align="center" />

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    Nằm ở ngoại ô của thành phố, nhưng Cafe Racer vẫn trở thành điểm đến được rất nhiều bạn trẻ yêu
                    thích, mỗi dịp cuối tuần. Đây từ lâu đã trở thành quán cà phê được những tay chơi xe trong thành phố
                    quan tâm. Với diện tích lên đến 300m2, Cafe Racer Shop được thiết kế theo phong cách đậm chất bụi
                    bặm và mạnh mẽ, mang hơi hướng của những quán cà phê nước Mỹ dành cho giới motor.
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    <img alt="" class="aligncenter" height="399"
                      src="http://2saigon.vn/wp-content/uploads/2018/01/album_kulnews_cafe-racer-shop3.jpg"
                      style="margin: 0px auto; padding: 0px; border: 0px; max-width: 100%; height: auto; box-sizing: border-box;  clear: both; display: block;"
                      width="599" />
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    <img alt="" class="aligncenter" height="399"
                      src="http://image1.thegioitre.vn/2017/12/30/album_kulnews_cafe-racer-shop4.jpg"
                      style="margin: 0px auto; padding: 0px; border: 0px; max-width: 100%; height: auto; box-sizing: border-box;  clear: both; display: block;"
                      width="599" />
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    Quán được thiết kế xây dựng hoàn toàn bằng sắt và gỗ, trang trí kèm những chiếc thùng container lớn.
                    Để hoàn tất thiết kế và xây dựng, chủ quán đã dành tổng thời gian lên đến 20 tháng thi công. Toàn bộ
                    khu vực của Cafe Racer đều được làm thủ công. Với tâm huyết của mình, Cafe Racer Shop đã tạo nên một
                    không gian độc đáo và mới lạ dành cho các bạn trẻ có nơi để trải nghiệm và tận hưởng không gian dành
                    riêng cho xe.
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    <img alt="" class="aligncenter" height="399"
                      src="http://2saigon.vn/wp-content/uploads/2018/01/album_kulnews_cafe-racer-shop8.jpg"
                      style="margin: 0px auto; padding: 0px; border: 0px; max-width: 100%; height: auto; box-sizing: border-box;  clear: both; display: block;"
                      width="599" />
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    <img alt="" class="aligncenter" height="399"
                      src="http://2saigon.vn/wp-content/uploads/2018/01/album_kulnews_cafe-racer-shop11.jpg"
                      style="margin: 0px auto; padding: 0px; border: 0px; max-width: 100%; height: auto; box-sizing: border-box;  clear: both; display: block;"
                      width="599" />
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    Cafe Racer chỉ là một sản phẩm nhỏ của mình. Nơi đây chỉ là bàn đạp để mình có thể tổ chức thêm
                    nhiều hoạt động, sự kiện nhằm quyên góp giúp đỡ cho những hoàn cảnh khó khăn. Cũng như trong nhiều
                    năm qua mình đã đứng ra tổ chức. Đây là sẽ nơi để anh em gặp gỡ, giao lưu và khởi hành lên đường đi
                    đến với những hoàn cảnh khó khăn trên cả nước.
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    Với một không gian mang màu sắc của những quán cà phê dành cho giới chơi xe nước ngoài, Cafe Racer
                    giống như làn gió mới, tạo nên một địa điểm thỏa mãn khao khát của rất nhiều người chơi xe ở Sài
                    Gòn. Họ coi đây là địa điểm yêu thích khi có nhu cầu gặp mặt và giao lưu quy tụ số lượng xe lớn.
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    <img alt="" class="aligncenter" height="399"
                      src="http://2saigon.vn/wp-content/uploads/2018/01/album_kulnews_cafe-racer-shop7.jpg"
                      style="margin: 0px auto; padding: 0px; border: 0px; max-width: 100%; height: auto; box-sizing: border-box;  clear: both; display: block;"
                      width="599" />
                  </span></span></p>

              <p
                style="margin: 0px 0px 15px; padding: 0px; box-sizing: border-box; border: 0px; font-size: 16px; vertical-align: baseline; font-family: Roboto; line-height: 1.5; color: rgb(68, 68, 68);">
                <span style="color:#D3D3D3;"><span style="margin: 0px; padding: 0px;">
                    <img alt="" class="aligncenter" height="399"
                      src="http://image1.thegioitre.vn/2017/12/30/kul_news_26174957-1586986618047078-1884180851-n.jpg"
                      style="margin: 0px auto; padding: 0px; border: 0px; max-width: 100%; height: auto; box-sizing: border-box;  clear: both; display: block;"
                      width="599" />
                  </span></span></p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end div -->
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.pagepiling.js"></script>

  <!-- Scripts -->
  <script src="js/scripts.js"></script>
</body>


</html>