<!DOCTYPE HTML>
<html lang="en">

<head>

  <!-- Favicons -->
  <link rel="shortcut icon" href="favicon.png">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

  <title>Cafe Racer</title>

  <!-- Styles -->
  <link href="css/style.css" rel="stylesheet" media="screen">
</head>

<body class="body-full-page">

  <div class="loader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <!-- Content CLick Capture-->

  <div class="click-capture"></div>

  <!-- Sidebar Menu-->

  <div class="menu">
    <span class="close-menu icon-cross2 right-boxed"></span>
    <div class="menu-lang right-boxed">
      <a href="./home" class="active">Eng</a>
      <a href="./home" onClick="alert('Cafe Racer bản vietsub sẽ sớm ra mắt chịu khó đợi nhé ahihi !!')">Vie</a>
    </div>
    <ul class="menu-list right-boxed">
      <li data-menuanchor="page1">
        <a href="./aboutus">ABOUT US</a>
      </li>
      <li data-menuanchor="page2">
        <a href="./home">HOME</a>
      </li>
      <li data-menuanchor="page3">
        <a href="./shop">SHOP</a>
      </li>
      <li data-menuanchor="page4">
        <a href="./mycart">CART</a>
      </li>
      <li data-menuanchor="page5">
        <a href="./contactus">CONTACT US</a>
      </li>
      <li data-menuanchor="page6">
        <a href="./admin/login" target="_blank">LOGIN</a>
      </li>

    </ul>
    <div class="menu-footer right-boxed">
      <div class="social-list">
        <a href="https://twitter.com/" target="_blank" class="icon ion-social-twitter"></a>
        <a href="https://www.facebook.com/mynameismeoww" target="_blank" class="icon ion-social-facebook"></a>
        <a href="http://gmail.com/" target="_blank" class="icon ion-social-googleplus"></a>
        <a href="https://www.instagram.com/hi991016/" target="_blank" class="ion-social-instagram-outline"></a>
      </div>
    </div>
  </div>

  <!-- Navbar -->

  <header class="navbar navbar-2 navbar-white boxed">
    <div class="navbar-bg"></div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
      aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="brand" href="home">
      <img class="brand-img" alt="" src="images/brand.png">
      <div class="brand-info">
        <div class="brand-name">Cafe Racer</div>
        <div class="brand-text">Ride hard or Stay home</div>
      </div>
    </a>

    <div class="social-list hidden-xs">
      <a href="https://twitter.com/" target="_blank" class="icon ion-social-twitter"></a>
      <a href="https://www.facebook.com/mynameismeoww" target="_blank" class="icon ion-social-facebook"></a>
      <a href="http://gmail.com/" target="_blank" class="icon ion-social-googleplus"></a>
      <a href="https://www.instagram.com/hi991016/" target="_blank" class="ion-social-instagram-outline"></a>
    </div>

  </header>
  <div class="pagepiling">

    <!-- page 1 -->

    <div data-anchor="page1" class="pp-scrollable text-white section section-1">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl1.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
              <div class="vertical-title hidden-xs hidden-sm"><span>HOME</span></div>
              <div class="boxed">
                <div class="container">
                  <div class="intro">
                    <div class="row">
                      <div class="col-md-8 col-lg-6">
                        <p class="subtitle-top">Welcome to <br>Cafe Racer</p>
                        <h1 class="display-2 text-white"><span class="text-primary">Have</span><br> a nice day.</h1>
                        <div class="hr-bottom"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 2 -->

    <div data-anchor="page2" class="pp-scrollable section section-2">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl2.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 3 -->
    <div data-anchor="page3" class="pp-scrollable section section-3">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl3.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- page 4 -->

    <div data-anchor="page4" class="pp-scrollable text-white section section-4">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl4.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
              <div class="boxed">
                <div class="container">
                  <div class="intro">
                    <div class="row">
                      <div class="col-md-6 col-lg-5">
                        <span class="icon-quote ion-quote"></span>
                        <h2 class="title-uppercase text-white">the lure of the open road never goes out of style </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 5 -->

    <div data-anchor="page5" class="pp-scrollable section section-5">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl5.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 6 -->

    <div data-anchor="page6" class="pp-scrollable text-white section section-6">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl6.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
              <div class="boxed">
                <div class="container">
                  <div class="intro">
                    <div class="row">
                      <div class="col-md-6 col-lg-5">
                        <span class="icon-quote ion-quote"></span>
                        <h2 class="title-uppercase text-white">We built it, now make it your own</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 7 -->

    <div data-anchor="page7" class="pp-scrollable section section-7">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl7.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- page 8 -->

    <!-- page 9 -->

    <div data-anchor="page8" class="pp-scrollable text-white section section-8">
      <div class="scroll-wrap">
        <div class="section-bg" style="background-image:url(images/sl9.jpg);"></div>
        <div class="scrollable-content">
          <div class="vertical-centred">
            <div class="boxed boxed-inner">
              <div class="vertical-title hidden-xs hidden-sm"><span>Quotes</span></div>
              <div class="boxed">
                <div class="container">
                  <div class="intro">
                    <div class="row">
                      <div class="col-md-6 col-lg-5">
                        <span class="icon-quote ion-quote"></span>
                        <h2 class="title-uppercase text-white">Four wheels move the body. Two wheels move the soul</h2>
                      </div>
                      <div class="col-md-5 col-lg-5  col-md-offset-1 col-lg-offset-2">
                        <div class="review-carousel owl-carousel">
                          <div class="review-carousel-item">
                            <div class="text">
                              <p>" life is meant for good friends</p>
                              <p> And great adventures "</p>
                            </div>
                            <div class="review-author">
                              <div class="author-name">Dr. seuss</div>
                              <i>"Oh, the Places You'll Go. "</i>
                            </div>
                          </div>
                          <div class="review-carousel-item">
                            <div class="text">
                              <p>" Never mind the track. The track is for punks.</p>
                              <p> We are road people. We are cafe racers. "</p>
                            </div>
                            <div class="review-author">
                              <div class="author-name">- Hunter S. Thompson</div>
                            </div>
                          </div>
                          <div class="review-carousel-item">
                            <div class="text">
                              <p>" Cuộc đời là những chuyến đi</p>
                              <p> Đi để tìm người khiến mình muốn dừng lại! "</p>
                            </div>
                            <div class="review-author">
                              <div class="author-name">by Tớ</div>
                              <i>Ahihi</i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end div -->
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.pagepiling.js"></script>

  <!-- Scripts -->
  <script src="js/scripts.js"></script>
</body>


</html>